.button {
  position: fixed;
  bottom: 12px;
  right: 12px;

  cursor: pointer;

  display: block;
  padding: 8px;
  color: rgb(239 68 68);
  border: 2px solid rgb(239 68 68);
  border-radius: 8px;
}
